:root {
    --rx: 0deg;
    --ry: 0deg;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: beige;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 32px auto;
    width: fit-content;
    font-size: 72px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1:hover {
    animation: space 0.5s ease-in-out 1;
}

@keyframes space {
    0% {
        letter-spacing: 0px;
    }
    50% {
        letter-spacing: 50px;
    }
    100% {
        letter-spacing: 0px;
    }
}

.task-box, .proj-box, .notes-box {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 67px;
    row-gap: 20px;
    font-size: 32px;
    margin-left: 8px;
}

.task-box {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

dialog > h2 {
    top: 0;
    padding: 8px;
    margin: auto;
    margin-top: -50px;
    width: fit-content;
    left: 150px;
    font-size: 36px;
}

.container {
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px black;
    width: 900px;
    height: 600px;
    border: 2px solid black;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -60%) perspective(5000px) rotateY(var(--ry)) rotateX(var(--rx));
    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr);
}

.toggle {
    transition: all 0.5s;
}

.high, .med, .low {
    font-size: 18px;
    border: 2px solid black;
    padding: 4px 8px;
}

.flexit {
    display: flex;
}

.high {
    background-color: red;
}

.med {
    background-color: orange;
}

.low {
    background-color: greenyellow;
}


ul {
    list-style-type: none;
    position: relative;
}

dialog[open] {
    transform: scale(1);
    opacity: 1;
}

dialog {
    width: 500px;
    height: 500px;
    margin: auto;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s allow-discrete;
}

@starting-style {
    dialog[open] {
        opacity: 0;
        transform: scale(0);
    }
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

.close {
    background: none;
    border: none;
    font-size: 32px;
    padding: 8px;
    width: 50px;
    position: relative;
    right: -450px;
    cursor: pointer;
}

form > button:last-child {
    margin: 8px auto;
    width: fit-content;
    background-color: blue;
    color: white;
    font-size: 32px;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
}

fieldset {
    display: flex;
    padding: 16px;
    gap: 20px;
    width: 400px;
    margin: 8px auto;
}

label:not(.flexit > label) {
    background-color: white;
    margin: 0 auto;
    transition: all 0.5s;
    top: 0;
    left: 0;
    padding: 0px 4px;
}

input:not(input[type="radio"], input[type="checkbox"]) {
    width: 200px;
    padding: 8px 16px;
    margin: 16px auto;
}

input[type="radio"] {
    width: 100%;
    height: 24px;
    margin-right: 20px;
}

::backdrop {
    transition: all 0.5s allow-discrete;
    opacity: 0;
}

dialog[open]::backdrop {
    background-image: linear-gradient(
        135deg,
        green,
        dodgerblue,
        rebeccapurple,
        orange
    );
    opacity: 0.75;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(0 0 0 / 0.25);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
}

@starting-style {
    dialog[open]::backdrop {
        opacity: 0;
    }
}

aside {
    grid-column: 1;
    border-right: 2px solid black;
}

section {
    grid-column: 2 / -1;
    padding: 16px;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr repeat(3, 1fr);
    grid-auto-rows: 50px;
    row-gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

li {
    font-size: 32px;
    border-bottom: 2px solid black;
    transition: all 0.5s;
}

li:not(.no-hover, ul > li:last-child):hover {
    transform: translate3d(3px 3px 3px);
    box-shadow: 2px 2px 2px 1px black;
}

li:hover button:not(ul > li:last-child button) {
    transform: rotate(-5deg);
    text-shadow: 2px 2px white;
    font-weight: bold;
}

ul > li:last-child {
    position: absolute;
    bottom: -140px;
    background-color: black;
    border-radius: 50%;
    font-size: 32px;
    right: 0;
    padding: 4px;
    width: 60px;
    height: 60px;
}

.wizard {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50% -50%);
}

@keyframes ducked {
    from {
        filter: hue-rotate(0deg);
        transform: translateX(0px) translateY(0px) scale(1);
    } 
    to {
        filter: hue-rotate(180deg);
        transform: translateX(-1400px) translateY(150px) scale(10);
    }
}

#add {
    color: white;
    position: absolute;
    left: -2px;
    transition: transform 2s;
    cursor: pointer;
}

ul > li:last-child:hover #add {
    transform: rotate(375deg);
}

.no-hover {
    padding: 8px 24px;
}

li > button {
    border: none;
    background: none;
    font-size: 32px;
    transition: all 0.5s;
    font-weight: 400;
    padding: 8px 24px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
}

.icon > img {
    width: 30px;
    height: 30px;
    font-size: 14px;
    position: absolute;
    right: 10px;
}

img[alt="Trash bin"] {
    right: 50px;
    grid-column: 3 / 4;
}

img[alt="Sketch pad to edit"] {
    grid-column: 3 / 4;
}

input:required, fieldset {
    border: 2px solid red;
}

input:valid, .correct {
    border: 2px solid green;
}

.projects button {
    font-size: 24px;
    margin-left: 24px;
}

.task {
    width: 300px;
    height: 200px;
    padding: 16px;
    border-radius: 20px;
    transform-style: preserve-3d;
    transform: perspective(300px);
    transition: all 0.5s;
    position: relative;
}

.wrapper:hover .task{
    transform: rotateY(20deg) rotateX(20deg);
}

.inner {
    width: inherit;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: inherit;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: start;
}

.task::before, .task::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.task::after {
    inset: 0rem;
    background: linear-gradient(45deg, red, blue);
    transform: translateZ(-50px);
}

input[type="checkbox"] {
    padding: 0;
    appearance: none;
    border: none;
    margin: 0;
}

input[type="checkbox"]::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    display: inline-block;
    position: relative;
    z-index: 2;
}

input[type="checkbox"]::after {
    content: "✓";
    font-size: 24px;
    opacity: 0;
    position: relative;
    left: -19px;
    top: -1px;
    z-index: 2;
}

input[type="checkbox"]:checked::after {
    opacity: 1;
}

h2 {
    width: fit-content;
    height: fit-content;
    font-size: 48px;
    grid-column: 1 / -1;
}

section > h2:nth-child(1) {
    grid-row: 1 / 2;
}

section > h2:nth-child(2) {
    grid-row: 3 / 4;
}

section > h2:last-child {
    grid-row: 5 / 6;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.inner > p {
    font-size: 18px;
    width: 100%;
    margin: 8px 0;
    grid-column: 1 / 3;
}

.inner > .high, .inner > .med, .inner > .low {
    grid-column: 1 / 2;
    width: fit-content;
}

.inner > .date {
    color: blue;
}

.inner > .desc {
    grid-column: 1 / -1;
}

.inner > .flexit {
    grid-column: 1 / -1;
    gap: 30px;
}

.func {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 70px;
}

.flexit > label {
    align-self: center;
    font-size: 18px;
}

.complete > h3, .complete > p, .complete > p:nth-child(6) {
    text-decoration: line-through;
}

.pastDue {
    background-color: red;
}